<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Ejercicio_MultiCuentaOOP.Properties.Settings.AccountsConnectionString" connectionString="Data Source=.;Initial Catalog=Accounts;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AccountsEntities" connectionString="metadata=res://*/DbModel.AccountsModel.csdl|res://*/DbModel.AccountsModel.ssdl|res://*/DbModel.AccountsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Accounts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountsEntitys" connectionString="metadata=res://*/DbModel.AccountsDataModel.csdl|res://*/DbModel.AccountsDataModel.ssdl|res://*/DbModel.AccountsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Accounts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountEntitis" connectionString="metadata=res://*/DbModel.BankAccountDBModel.csdl|res://*/DbModel.BankAccountDBModel.ssdl|res://*/DbModel.BankAccountDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Accounts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityAccount" connectionString="metadata=res://*/DbModel.MultiCuentaDataBase.csdl|res://*/DbModel.MultiCuentaDataBase.ssdl|res://*/DbModel.MultiCuentaDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Accounts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>